@import '../variables';

@mixin translateAndRotate($transform, $rotate) {
  -webkit-transform: translateY($transform) rotate($rotate);
  -moz-transform: translateY($transform) rotate($rotate);
  -ms-transform: translateY($transform) rotate($rotate);
  -o-transform: translateY($transform) rotate($rotate);
  transform: translateY($transform) rotate($rotate);
}

@mixin borderLeftToRightGradient($color1, $color2) {

  -webkit-border-image: -webkit-gradient(linear, 100% 0, 0 0, from($color1), to($color2)) 1 100%;
  -webkit-border-image: -webkit-linear-gradient(right, $color1, $color2) 1 100%;
  -moz-border-image: -moz-linear-gradient(right, $color1, $color2) 1 100%;
  -o-border-image: -o-linear-gradient(right, $color1, $color2) 1 100%;
  border-image: linear-gradient(to right, $color1, $color2) 1 100%;
}

@mixin rotate($deg) {
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -ms-transform: rotate($deg);
  -o-transform: rotate($deg);
  transform: rotate($deg);
}

@mixin translate($x, $y) {
  -webkit-transform: translate($x, $y);
  -moz-transform: translate($x, $y);
  -ms-transform: translate($x, $y);
  -o-transform: translate($x, $y);
  transform: translate($x, $y);
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  //border: 1px solid red;
  -webkit-tap-highlight-color: $decoration-color;
}

body {
  background-color: $bg-color;
  margin: 0;
  padding: 0;
}

header {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $header-text-color;
  text-align: center;
  overflow: hidden;
}

section {
  position: relative;
  overflow-x: hidden;
  padding: 150px 0px;
  &:after {
    //display: block;
    //content: '';
    //background: $decoration-color;
    //height: 20px;
    //width: 100%;
    //-webkit-transform: rotate(1deg);
    //-moz-transform: rotate(1deg);
    //-ms-transform: rotate(1deg);
    //-o-transform: rotate(1deg);
    //transform: rotate(1deg);
  }
}

a {
  color: $white;
  text-decoration: none;
  @include transition-ease(.4s);
  &:hover {
    color: $decoration-color;
  }
}

h1, h3{
  font-family: "Parisienne", sans-serif;
  //font-family: "Alex Brush", sans-serif;
  //font-family: "Allura", sans-serif;
  //font-family: 'Raleway Dots', cursive;
  // font-family: 'Arizonia', cursive;

  //font-family: 'Oregano', cursive;

  //font-family: 'Megrim', cursive; //fajne

  //font-family: 'Wire One', sans-serif;
  font-weight: lighter;
}

h3 {
  text-align: center;
  font-size: 3em;
  @media #{$media-desktop} {
    font-size: 4em;
  }
}

h2{
  padding: 0;
  margin: 0;
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 5em;
  color: #f9f9f9;
  z-index: 0;
  text-transform: uppercase;
  @media #{$media-desktop} {
    font-size: 10em;
    left: 50px;
    top: 20px;
  }
}

button {
  color: $white;
  background: transparent;
  border: 2px solid $white;
  padding: 15px;
  @include transition-ease(.4s);
  &:hover {
    //color: $decoration-color;
    border: 2px solid $decoration-color;
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
  &:active {
    background: $decoration-color;
  }
}

.container {
  margin: auto;
  max-width: 1480px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-full {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-content {
  width: 100%;
  //padding: 10px;
}

.section-header {
  width: 100%;
  text-align: center;
}

.nav-icon {
  $size: 60px;
  $sizeY: 60px;
  $padding: 20px 10px;
  height: $sizeY;
  width: $size;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 4;
  cursor: pointer;
  padding: $padding;
  @media #{$media-desktop} {
    top: 50px;
    left: 50px;
  }
  &:hover {
    .nav-icon__line {
      background: $header-hover-underline-color;
    }
  }
  //border: 2px solid $decoration-color;
  &__line {
    display: block;
    height: 4px;
    width: $size - 20px;
    background-color: $decoration-color;
    margin-bottom: 5px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    &__left {
      width: 55%;
    }
    &__right {
      width: 55%;
      margin-left: 45%;
    }
  }
}

.down-bar-change {

}

.up-bar-change {
  @include translateAndRotate(10px, 45deg);
}

.nav-icon-active-2 {
  @include rotate(-45deg);
}

.nav-icon-active {
  @include rotate(45deg);
}

.nav-icon-inactive {
  @include rotate(0deg);
}

.nav-active {
  //display: flex;
}

.nav-inactive {
  //display: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $navbar-bg-color;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 2;
  color: $header-text-color;
  opacity: 0;
  @include transition-ease(.5s);
  @include translate(-100%, 0%);
  &.opened {
    @include translate(0%, 0%);
    opacity: 1;
  }

  .nav-content {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    z-index: 4;
  }

  .navbar-brand span {
    font-family: 'Megrim', cursive;
    //font-family: 'Wire One', sans-serif;
    //font-family: "Parisienne", sans-serif;

    letter-spacing: 2px;
  }

  .navbar-nav {
    font-weight: bold;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    @media #{$media-desktop} {
      flex-direction: row;
    }
    .nav-item {
      padding: 10px;
      margin: 10px;
      font-size: 1.5em;
      opacity: 0;
      @include transition-ease(1.8s);
      @media #{$media-desktop} {
        padding: 20px;
        margin: 20px;
        font-size: 2em;
      }
      &:after {
        display: block;
        content: '';
        margin-top: 5px;
        //border-top: solid 4px $header-hover-underline-color;
        border-top: solid 4px $header-hover-underline-color;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
      }
      .nav-link {
        @include transition-ease(.3s);
      }
      &:hover {
        .nav-link {
          color: $white;
        }

        &:after {
          transform: scaleX(1);
        }

      }
    }
  }
  &.opened {
    .navbar-nav {
      .nav-item {
        opacity: 1;
        @for $i from 1 through 5 {
          &:nth-child(#{$i}) {
            transition-delay: .5s + $i * .1s;
          }
        }
      }
    }
  }

  .custom-toggler.navbar-toggler {
    //border-color: $menu-icon-color;
  }

  .custom-toggler .navbar-toggler-icon {
    //background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
}

.main-header {
  width: 100%;
  background: $header-img;
  -webkit-background-size: auto 130%;
  background-size: auto 130%;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-attachment: fixed;
  letter-spacing: 1px;

  @media #{$media-desktop} {
    justify-content: flex-start;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    background: #000;
  }
  &__arrow {
    align-self: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-right: 50%;
    width: 30px;
    height: 30px;
    margin-bottom: 40px;
    border-bottom: solid $white 6px;
    border-left: solid $white 6px;
    animation: move-arrow 1.5s infinite;
    cursor: pointer;
    &:after {
      //content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 30px;
      height: 30px;
      margin-bottom: 0;
      border-bottom: solid $decoration-color-2 6px;
      border-left: solid $decoration-color 6px;
      animation: move-arrow-2 1.5s infinite;
      -webkit-animation-delay: .3s;
      -moz-animation-delay: .3s;
      -o-animation-delay: .3s;
      animation-delay: .3s;
    }
  }
  &__title {
    $padding: 90px;
    $padding-mobile: 30px;
    max-width: 100%;
    position: relative;
    padding: $padding-mobile;
    margin: 30px;
    border: 1px solid $white;

    background: rgba(0, 0, 0, 0.6);
    animation: 1s ease-out 0s 1 fadeIn;

    @media #{$media-desktop} {
      padding: $padding;
      margin: 0;
      left: 20%;
    }
    &::before, &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: -1 * 0.02 * 100%;
      box-shadow: inset 0 0 0 4px $decoration-color;
      //animation: clipMe 8s linear infinite;
    }
    &::after {
      -webkit-clip-path: polygon(0px 0px, 60px 0px, 60px 60px, 0px 60px);
      clip-path: polygon(0px 0px, 60px 0px, 60px 60px, 0px 60px);
    }
    &::before {
      animation-delay: 8s * -.5;
      -webkit-clip-path: polygon(calc(100% - 60px) calc(100% - 60px), 100% calc(100% - 60px), 100% 100%, calc(100% - 60px) 100%);
      clip-path: polygon(calc(100% - 60px) calc(100% - 60px), 100% calc(100% - 60px), 100% 100%, calc(100% - 60px) 100%);
    }
    h1 {
      font-size: 3em;
      text-shadow: 1px 1px 1px #000;
      color: $header-text-color;
      margin-bottom: 20px;
      opacity: 1;
      animation: 2s ease-out 0s 1 fadeInFromTop;
      @media #{$media-desktop} {
        font-size: 6em;
      }
    }
    p {
      color: rgba(255, 255, 255, 0.2);
      margin-top: 10px;
      text-align: right;
    }
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes move-arrow-2 {
  0% {
    @include translateAndRotate(0, 0);
    //opacity: 0;
  }
  50% {
    //@include translateAndRotate($header-arrow-translation/2, $header-arrow-rotation)
    //opacity: 1;
  }
  100% {
    @include translateAndRotate($header-arrow-translation, 0);
    //opacity: 0;
  }
}

@keyframes move-arrow {
  0% {
    @include translateAndRotate(0, $header-arrow-rotation);
    //opacity: 0;
  }
  50% {
    //@include translateAndRotate($header-arrow-translation/2, $header-arrow-rotation)
    //opacity: 1;
  }
  100% {
    @include translateAndRotate($header-arrow-translation, $header-arrow-rotation);
    //opacity: 0;
  }
}

@keyframes clipMe {
  0%, 100% {
    -webkit-clip-path: polygon(0px 0px, 60px 0px, 60px 60px, 0px 60px);
    clip-path: polygon(0px 0px, 60px 0px, 60px 60px, 0px 60px);
  }
  25% {
    -webkit-clip-path: polygon(calc(100% - 60px) 0px, 100% 0px, 100% 60px, calc(100% - 60px) 60px);
    clip-path: polygon(calc(100% - 60px) 0px, 100% 0px, 100% 60px, calc(100% - 60px) 60px);
  }
  50% {
    -webkit-clip-path: polygon(calc(100% - 60px) calc(100% - 60px), 100% calc(100% - 60px), 100% 100%, calc(100% - 60px) 100%);
    clip-path: polygon(calc(100% - 60px) calc(100% - 60px), 100% calc(100% - 60px), 100% 100%, calc(100% - 60px) 100%);
  }
  75% {
    -webkit-clip-path: polygon(0px calc(100% - 60px), 60px calc(100% - 60px), 60px 100%, 0px 100%);
    clip-path: polygon(0px calc(100% - 60px), 60px calc(100% - 60px), 60px 100%, 0px 100%);
  }
}

.section-header {
  margin-top: 100px;
  margin-bottom: 50px;
}

.skills-section {
  background: $grey;
}

.contact-section {
  background: #000;
  color: $white;
}

footer {
  background: #000;
  color: $white;
  padding: 10px;
  .link-section {
    font-size: 4em;
    text-align: center;
    padding: 10px;
    a {
      margin: 10px;
    }
  }
  .copyright {
    text-align: right;

  }
}