$headers-font-family: "Parisienne", sans-serif;
$default-font-family: "Montserrat", sans-serif;

$white: #ffffff;
$grey: #F6F6F6;
$lightgrey: #eee;
$decoration-color-b: #c31432;
$decoration-color-b-2: #240b36;
//$background-heading-color: #f9f9f9;
$violet: #741071;
$blue: #1565C0;
$decoration-color: #c31432;
$decoration-color-2: #F1C40F;

$menu-icon-color: $white;
$header-text-color: $white;
$header-hover-underline-color: #F1C40F;
$bg-color: $white;
$header-bg-color: #FAFAFA;
$navbar-bg-color: rgba(0, 0, 0, 0.95);
$header-img: url("../img/apple-691282_1920.jpg");

$header-arrow-rotation: -45deg;
$header-arrow-translation: 5px;

$box-size: 500px;
$clip-distance: .05;
$clip-size: $box-size * (1 + $clip-distance * 2);
$path-width: 2px;
$header-second-border-size: 60px;

$desktop-breakpoint: 1300px;

$media-desktop: "screen and (min-width : 1300px)";


@mixin transition-ease($time) {
  -webkit-transition: all ease $time;
  -moz-transition: all ease $time;
  -ms-transition: all ease $time;
  -o-transition: all ease $time;
  transition: all ease $time;
}