$headers-font-family: 'Poiret One', cursive;
$default-font-family: "Montserrat", sans-serif;

$white: #ffffff;
$grey: #F6F6F6;
$lightgrey: #eee;
$decoration-color-b: #c31432;
$decoration-color-b-2: #240b36;
//$background-heading-color: #f9f9f9;
$violet: #741071;
$blue: #1565C0;
$decoration-color: #c31432;
$decoration-color-2: #F1C40F;

$menu-icon-color: $white;
$header-text-color: $white;
$header-hover-underline-color: #F1C40F;
$bg-color: $white;
$header-bg-color: #FAFAFA;
$navbar-bg-color: rgba(0, 0, 0, 0.95);
$header-img: url("../img/apple-691282_1920.jpg");

$header-arrow-rotation: -45deg;
$header-arrow-translation: 5px;

$box-size: 500px;
$clip-distance: .05;
$clip-size: $box-size * (1 + $clip-distance * 2);
$path-width: 2px;
$header-second-border-size: 60px;


$mobile-margin: 10px;
$desktop-breakpoint: 1300px;

$media-desktop: "screen and (min-width : 1300px)";


@mixin transition-ease($time) {
  -webkit-transition: all ease $time;
  -moz-transition: all ease $time;
  -ms-transition: all ease $time;
  -o-transition: all ease $time;
  transition: all ease $time;
}

@mixin translate($x, $y) {
  -webkit-transform: translate($x, $y);
  -moz-transform: translate($x, $y);
  -ms-transform: translate($x, $y);
  -o-transform: translate($x, $y);
  transform: translate($x, $y);
}

@mixin translateAndRotate($transform, $rotate) {
  -webkit-transform: translateY($transform) rotate($rotate);
  -moz-transform: translateY($transform) rotate($rotate);
  -ms-transform: translateY($transform) rotate($rotate);
  -o-transform: translateY($transform) rotate($rotate);
  transform: translateY($transform) rotate($rotate);
}

@mixin borderLeftToRightGradient($color1, $color2) {

  -webkit-border-image: -webkit-gradient(linear, 100% 0, 0 0, from($color1), to($color2)) 1 100%;
  -webkit-border-image: -webkit-linear-gradient(right, $color1, $color2) 1 100%;
  -moz-border-image: -moz-linear-gradient(right, $color1, $color2) 1 100%;
  -o-border-image: -o-linear-gradient(right, $color1, $color2) 1 100%;
  border-image: linear-gradient(to right, $color1, $color2) 1 100%;
}

@mixin rotate($deg) {
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -ms-transform: rotate($deg);
  -o-transform: rotate($deg);
  transform: rotate($deg);
}

@mixin box-shadow($hoff, $voff, $blur, $color){
  -webkit-box-shadow:  $hoff $voff $blur $color;
  -moz-box-shadow:  $hoff $voff $blur $color;
  box-shadow:  $hoff $voff $blur $color;
}

@mixin subpage-header-bg{
  -webkit-background-size: auto 60%;
  background-size: auto 120%;
  background-repeat: no-repeat;
  background-position: 50% 0px;
  background-attachment: fixed;
  @media #{$media-desktop} {
    -webkit-background-size: cover;
    background-size: cover;
  }
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}