$decoration-color: #c31432;
$decoration-color-2: #F1C40F;
$media-desktop: "screen and (min-width : 1200px)";
$skills-button-border-color: #e5e5e5;

@mixin transition-ease($time) {
  -webkit-transition: all ease $time;
  -moz-transition: all ease $time;
  -ms-transition: all ease $time;
  -o-transition: all ease $time;
  transition: all ease $time;
}

.main-skills {
  z-index: 2;
}

.skills {
  @include transition-ease(.5s);

  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  h4 {
    font-size: 1.5em;
  }
  &__row {
    $padding: 30px;
    //flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;

    width: 100%;
    background: white;
    @media #{$media-desktop} {
      //min-width: calc(50% - 20px);
      flex-basis: calc(50% - 50px);
      margin: 10px;
    }
    &__img {
      flex: 1;
      padding: $padding $padding 10px $padding;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__text {
      flex: 1;
      width: 100%;
      padding: 10px $padding;
      p {
        text-align: justify;
      }
    }
    .flex-order-swap {
      @media #{$media-desktop} {
        order: 2;
      }
    }
    img {
      max-width: 50%;
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
      @include transition-ease(.4s);
      &:hover {
        -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
        filter: grayscale(0%);
      }
    }
    &:hover {
      img {
        -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
        filter: grayscale(0%);
      }
    }
  }

}

.other-skills-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin: 20px 40px 0px 40px;
  text-align: center;
  border-bottom: 2px solid $skills-button-border-color;
  cursor: pointer;
  @include transition-ease(.5s);
  &:hover{
    border-color: $decoration-color-2;
    //background-color: #fff;
    color: $decoration-color-2;
    .fa-arrow-down {
      color: $decoration-color-2;
    }
  }
}

.fa-arrow-down {
  color: #c8c8c8;
  @include transition-ease(.5s);
}

.fa-arrow-down.collapse {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.other-skills-wrapper {
  overflow: hidden;
  position: relative;
  height: auto;
  @include transition-ease(.5s);

}

.other-skills {
  //border: 1px solid $decoration-color;
  display: flex;
  //display: flex;
  //animation: 1s ease-out 0s 1 hide;
  max-height: 0;
  -webkit-transition: max-height -2s 3s ease-out;
  transition: max-height -2s 3s ease-out;
}

.other-skills.collapse {
  max-height: 9999px;
  -webkit-transition: max-height 2s ease-in;
  transition: max-height 2s ease-in;
}

.hide-skills {
  animation: 1s ease-out 0s 1 hide;
}

.display-none {
  display: none;
}

.show-skills {
  display: flex;
  //animation: 1s ease-out 0s 1 fadeInFromTop;
}

@keyframes fadeInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hide {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  99% {
    opacity: 0;
    transform: translateY(-10%);

  }
  100% {
    display: none;
  }
}