.main-skills {
  z-index: 2; }

.skills {
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .skills h4 {
    font-size: 1.5em; }
  .skills__row {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
    width: 100%;
    background: white; }
    @media screen and (min-width: 1200px) {
      .skills__row {
        flex-basis: calc(50% - 50px);
        margin: 10px; } }
    .skills__row__img {
      flex: 1;
      padding: 30px 30px 10px 30px;
      display: flex;
      align-items: center;
      justify-content: center; }
    .skills__row__text {
      flex: 1;
      width: 100%;
      padding: 10px 30px; }
      .skills__row__text p {
        text-align: justify; }
    @media screen and (min-width: 1200px) {
      .skills__row .flex-order-swap {
        order: 2; } }
    .skills__row img {
      max-width: 50%;
      -webkit-filter: grayscale(100%);
      /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
      -webkit-transition: all ease 0.4s;
      -moz-transition: all ease 0.4s;
      -ms-transition: all ease 0.4s;
      -o-transition: all ease 0.4s;
      transition: all ease 0.4s; }
      .skills__row img:hover {
        -webkit-filter: grayscale(0%);
        /* Safari 6.0 - 9.0 */
        filter: grayscale(0%); }
    .skills__row:hover img {
      -webkit-filter: grayscale(0%);
      /* Safari 6.0 - 9.0 */
      filter: grayscale(0%); }

.other-skills-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin: 20px 40px 0px 40px;
  text-align: center;
  border-bottom: 2px solid #e5e5e5;
  cursor: pointer;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s; }
  .other-skills-toggle:hover {
    border-color: #F1C40F;
    color: #F1C40F; }
    .other-skills-toggle:hover .fa-arrow-down {
      color: #F1C40F; }

.fa-arrow-down {
  color: #c8c8c8;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s; }

.fa-arrow-down.collapse {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.other-skills-wrapper {
  overflow: hidden;
  position: relative;
  height: auto;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s; }

.other-skills {
  display: flex;
  max-height: 0;
  -webkit-transition: max-height -2s 3s ease-out;
  transition: max-height -2s 3s ease-out; }

.other-skills.collapse {
  max-height: 9999px;
  -webkit-transition: max-height 2s ease-in;
  transition: max-height 2s ease-in; }

.hide-skills {
  animation: 1s ease-out 0s 1 hide; }

.display-none {
  display: none; }

.show-skills {
  display: flex; }

@keyframes fadeInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-10%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@keyframes hide {
  0% {
    opacity: 1;
    transform: translateY(0); }
  99% {
    opacity: 0;
    transform: translateY(-10%); }
  100% {
    display: none; } }

/*# sourceMappingURL=skills-style.css.map */
