@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(5%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@keyframes fadeInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-20%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
.portfolio-section h4 {
  font-size: 1.5em;
  margin: 0; }
  @media screen and (min-width: 1300px) {
    .portfolio-section h4 {
      font-size: 2em; } }
.portfolio-section h5 {
  font-weight: normal;
  color: grey; }
.portfolio-section p {
  font-size: 1.1em; }

.portfolio-wrapper {
  width: 100%; }
  .portfolio-wrapper .featured-projects {
    width: 100%;
    position: relative; }
    .portfolio-wrapper .featured-projects__title {
      margin: auto;
      position: relative;
      top: 40px;
      z-index: 10;
      justify-content: flex-end; }
      .portfolio-wrapper .featured-projects__title h4 {
        padding: 20px 40px;
        background: #F6F6F6; }
    .portfolio-wrapper .featured-projects__arrow {
      position: absolute;
      top: 25%;
      font-size: 60px;
      z-index: 11;
      color: white;
      padding: 30px;
      -webkit-transition: all ease 0.5s;
      -moz-transition: all ease 0.5s;
      -ms-transition: all ease 0.5s;
      -o-transition: all ease 0.5s;
      transition: all ease 0.5s; }
      .portfolio-wrapper .featured-projects__arrow:hover {
        color: #F1C40F;
        cursor: pointer; }
      @media screen and (min-width: 1300px) {
        .portfolio-wrapper .featured-projects__arrow {
          top: 40%; } }
    .portfolio-wrapper .featured-projects__arrow-left {
      left: 0; }
    .portfolio-wrapper .featured-projects__arrow-right {
      right: 0; }
    .portfolio-wrapper .featured-projects .item {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      position: relative;
      height: 400px;
      margin-bottom: 100px;
      background: #fff; }
      @media screen and (min-width: 1300px) {
        .portfolio-wrapper .featured-projects .item {
          height: 800px;
          max-height: 800px;
          flex-direction: row; } }
      .portfolio-wrapper .featured-projects .item__img {
        width: 100%;
        height: 100%; }
        .portfolio-wrapper .featured-projects .item__img.dermina-bg {
          background: url("../img/dermina_featured.jpg");
          background-position: 50% 30%;
          background-repeat: no-repeat;
          -webkit-background-size: cover;
          background-size: cover; }
        .portfolio-wrapper .featured-projects .item__img.jinglex-bg {
          background: url("../img/jinglex_featured.jpg");
          background-position: 50% 30%;
          background-repeat: no-repeat;
          -webkit-background-size: cover;
          background-size: cover; }
      .portfolio-wrapper .featured-projects .item .container {
        width: 100%;
        align-items: flex-start;
        justify-content: center; }
        @media screen and (min-width: 1300px) {
          .portfolio-wrapper .featured-projects .item .container {
            position: absolute;
            bottom: -80px;
            justify-content: left; } }
      .portfolio-wrapper .featured-projects .item__text {
        position: relative;
        padding: 0;
        width: 100%; }
        @media screen and (min-width: 1300px) {
          .portfolio-wrapper .featured-projects .item__text {
            width: auto;
            border: 4px solid #c31432; } }
        .portfolio-wrapper .featured-projects .item__text .text {
          padding: 30px;
          background: #F6F6F6; }
          @media screen and (min-width: 1300px) {
            .portfolio-wrapper .featured-projects .item__text .text {
              width: auto;
              padding: 50px;
              -webkit-transform: translate(30px, -30px);
              -moz-transform: translate(30px, -30px);
              -ms-transform: translate(30px, -30px);
              -o-transform: translate(30px, -30px);
              transform: translate(30px, -30px); } }
        .portfolio-wrapper .featured-projects .item__text h5 {
          padding: 0;
          margin: 5px 0; }
          @media screen and (min-width: 1300px) {
            .portfolio-wrapper .featured-projects .item__text h5 {
              margin: 20px 0; } }
        .portfolio-wrapper .featured-projects .item__text p {
          padding: 0;
          margin: 5px 0; }
          @media screen and (min-width: 1300px) {
            .portfolio-wrapper .featured-projects .item__text p {
              margin: 20px 0; } }
        .portfolio-wrapper .featured-projects .item__text button {
          margin-top: 10px; }
          @media screen and (min-width: 1300px) {
            .portfolio-wrapper .featured-projects .item__text button {
              margin-top: 20px; } }

.other-projects {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column; }
  @media screen and (min-width: 1300px) {
    .other-projects {
      flex-direction: row; } }
  .other-projects__column {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    @media screen and (min-width: 1300px) {
      .other-projects__column {
        width: 50%; } }
  .other-projects .item {
    position: relative;
    width: 100%;
    max-width: 100%;
    border: solid 10px transparent; }
    .other-projects .item::before {
      content: '';
      border: 1px solid #f9f9f9;
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1; }
    @media screen and (min-width: 1300px) {
      .other-projects .item {
        width: 100%;
        max-width: 100%; } }
    .other-projects .item__img {
      width: 100%;
      max-width: 100%;
      padding: 1px; }
    .other-projects .item__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.9);
      color: white;
      opacity: 0;
      -webkit-transition: all ease 0.5s;
      -moz-transition: all ease 0.5s;
      -ms-transition: all ease 0.5s;
      -o-transition: all ease 0.5s;
      transition: all ease 0.5s; }
      .other-projects .item__text:hover {
        opacity: 1; }
      .other-projects .item__text a {
        margin-top: 10px; }
        @media screen and (min-width: 1300px) {
          .other-projects .item__text a {
            margin-top: 20px; } }
      .other-projects .item__text h5 {
        margin: 0; }
      .other-projects .item__text h4 {
        margin: 5px 0px; }
      .other-projects .item__text p {
        text-align: center;
        padding: 0;
        margin: 5px 0; }
        @media screen and (min-width: 1300px) {
          .other-projects .item__text p {
            margin: 20px 0; } }

.portfolio-header {
  flex-direction: column;
  padding: 40px 40px 60px 40px; }
  .portfolio-header img {
    padding: 10px;
    width: 100%; }
  .portfolio-header h1 {
    font-size: 4em;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase; }
  .portfolio-header a {
    margin: 5px; }
  .portfolio-header button {
    min-width: 100px; }
  .portfolio-header__logo {
    align-self: flex-end;
    font-family: "Parisienne", sans-serif;
    padding: 20px;
    text-align: right;
    font-size: 2em; }
  .portfolio-header .container {
    flex-direction: column; }

/*# sourceMappingURL=portfolio-style.css.map */
