@import '../variables';

$img-translation-value: 30px;

.portfolio-section {
  h4 {
    font-size: 1.5em;
    margin: 0;
    @media #{$media-desktop} {
      font-size: 2em;
    }
  }
  h5 {
    font-weight: normal;
    color: grey;
  }
  p {
    font-size: 1.1em;
  }
}

.portfolio-wrapper {
  width: 100%;
  .featured-projects {
    width: 100%;
    //margin-bottom: 250px;
    position: relative;
    &__title {
      margin: auto;
      position: relative;
      top: 40px;
      //width: 50%;
      //max-width: 100%;
      z-index: 10;
      //color: white;
      justify-content: flex-end;
      h4 {
        padding: 20px 40px;
        background: $grey;
      }
    }
    &__arrow {
      position: absolute;
      top: 25%;
      font-size: 60px;
      z-index: 11;
      color: white;
      padding: 30px;
      @include transition-ease(.5s);
      &:hover {
        color: $decoration-color-2;
        cursor: pointer;
      }
      @media #{$media-desktop} {
        top: 40%;
      }
    }
    &__arrow-left {
      left: 0;
    }
    &__arrow-right {
      right: 0;
    }
    .item {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      position: relative;
      height: 400px;
      margin-bottom: 100px;
      background: #fff;

      @media #{$media-desktop} {
        height: 800px;
        max-height: 800px;
        flex-direction: row;
      }
      &__img {
        width: 100%;
        height: 100%;
        &.dermina-bg {
          //background: url("../img/dermina_featured.jpg");
          background: url("../img/dermina_featured3.jpg");
          background-position: 50% 20%;
          background-repeat: no-repeat;
          -webkit-background-size: cover;
          background-size: cover;
        }
        &.jinglex-bg {
          background: url("../img/jinglex_featured3.jpg");
          background-position: 50% 15%;
          background-repeat: no-repeat;
          -webkit-background-size: cover;
          background-size: cover;
        }
        &.pixi-bg {
          background: url("../img/pixijs_featured3.jpg");
          background-position: 50% 45%;
          background-repeat: no-repeat;
          -webkit-background-size: cover;
          background-size: cover;
        }
        &.portfolio-bg {
          background: url("../img/portfolio_featured.jpg");
          background-position: 50% 45%;
          background-repeat: no-repeat;
          -webkit-background-size: cover;
          background-size: cover;
        }
      }
      .container {
        //position: relative;
        width: 100%;
        //margin-bottom: -50px;
        //border: 2px solid red;
        align-items: flex-start;
        justify-content: center;
        //max-width: 100%;
        @media #{$media-desktop} {
          position: absolute;
          bottom: -80px;
          justify-content: left;
        }
      }
      &__text {
        //margin-bottom: -50px;
        position: relative;
        //background: #000;
        padding: 0;
        //color: #fff;
        width: 100%;
        //@include translate(50px, 50px);

        @media #{$media-desktop} {
          width: auto;
          border: 4px solid $decoration-color;
        }
        .text {

          padding: 30px;
          background: $grey;

          @media #{$media-desktop} {
            width: auto;
            padding: 50px;
            @include translate($img-translation-value, -$img-translation-value);
          }
          .technologies{
            font-size: .8em;
          }
        }
        h5 {
          padding: 0;
          margin: 5px 0;
          @media #{$media-desktop} {
            margin: 20px 0;
          }
        }
        p {
          padding: 0;
          margin: 5px 0;
          @media #{$media-desktop} {
            margin: 20px 0;
          }
        }
        .button {
          margin-top: 10px;
          @media #{$media-desktop} {
            margin-top: 20px;
          }
        }

      }
    }
  }
}

.other-projects {
  display: flex;
  width: 100%;
  //justify-content: space-between;
  //align-items: stretch;
  flex-wrap: wrap;
  flex-direction: column;
  @media #{$media-desktop} {
    flex-direction: row;
  }
  &__all {
    padding: 5px;
    text-align: center;
  }
  &__column {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media #{$media-desktop} {
      width: 50%;
    }
  }
  .item {
    position: relative;
    width: 100%;
    max-width: 100%;
    border: solid 10px $bg-color;
    overflow: hidden;
    min-height: 400px;
    &::before {
      content: '';
      border: 1px solid #f9f9f9;
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
    @media #{$media-desktop} {
      width: 100%;
      max-width: 100%;
    }
    &--portfolio {
      background: url("../img/portfolio_nowe_featured.jpg") no-repeat 60% 50%;
      -webkit-background-size: cover;
      background-size: cover;
      @media #{$media-desktop} {
        min-height: 600px;
      }
    }
    &--jinglex2017 {
      background: url("../img/jinglex_old_featured.jpg") no-repeat 80% 50%;
      -webkit-background-size: cover;
      background-size: cover;
    }
    &--preloader {
      background: url("../img/preloader_featured.jpg") no-repeat 100% 50%;
      -webkit-background-size: cover;
      background-size: cover;
    }
    &--shopping-list {
      background: url("../img/lista-zakupow_featured.jpg") no-repeat 50% 50%;
      -webkit-background-size: cover;
      background-size: cover;
      @media #{$media-desktop} {
        min-height: 600px;
      }
    }

    &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.9);
      color: white;
      opacity: 0;
      @include transition-ease(.5s);

      &:hover {
        opacity: 1;
      }
      a {
        margin-top: 10px;
        @media #{$media-desktop} {
          margin-top: 20px;
        }
      }
      h5 {
        margin: 0;
      }
      h4 {
        margin: 5px 0px;
      }
      p {
        text-align: center;
        padding: 0;
        margin: 5px 0;
        @media #{$media-desktop} {
          margin: 20px 0;
        }
      }
    }

  }
}

.design {
  background: $grey;
  .section-content {
    padding: $mobile-margin;
    img {
      margin-bottom: $mobile-margin;
    }
  }
}