@import '../variables';

.carousel {
  width: 100%;
  position: relative;
  margin-bottom: 100px;
  min-height: 600px;
  overflow: hidden;
  perspective: 50000px;
  @media #{$media-desktop} {
    height: 950px;
    max-height: 950px;
  }
  &__content {
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 100px;
    transform-style: preserve-3d;
    transition: transform 1s;
    background: #fff;
  }
  &__item {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #fff;
    &--a {
      transform: rotateY(0deg) translateZ(1700px);
    }
    &--b {
      transform: rotateY(90deg) translateZ(1700px);
    }
    &--c {
      transform: rotateY(180deg) translateZ(1700px);
    }
    &--d {
      transform: rotateY(270deg) translateZ(1700px);
    }
    //@for $i from 1 through 4 {
    //  &:nth-child(#{$i}) {
    //    transform: rotateY((0 + $i * 90)deg) translateZ(2000px);
    //  }
    //}
  }
}