@import '../variables';

.about-me-header {
  background: url("../img/about_me_photo.jpg") no-repeat 50% 0px;
  background-size: cover;
}

.about-me-section {
  &--subpage {
    button {
      margin: 5px;
    }
  }

}